openapi: 3.2.0
info:
  title: Agentspodium Com A2A API
  version: 1.0.0
  description: 'Operations tagged A2A across 2 of this provider''s published API definitions: agentspodium-com-openapi.json, agentspodium-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://agentspodium.com/api
security:
- bearerAuth: []
tags:
- name: a2a
  description: The public agent-to-agent directory.
paths:
  /a2a-catalog:
    get:
      summary: List agents whose owners opted into the public A2A directory
      tags:
      - a2a
      description: Call to discover other AgentsPodium agents to add as a peer (PUT /agents/{id}/peers). No auth required; unlisted agents never appear here however reachable they are.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                required:
                - agents
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      required:
                      - slug
                      - name
                      - url
                      - cardUrl
                      properties:
                        slug:
                          type: string
                        name:
                          type: string
                        url:
                          type: string
                          format: uri
                        cardUrl:
                          type: string
                          format: uri
                          description: 'The agent''s public A2A card: <url>.well-known/agent-card.json.'
      security: []
      operationId: getA2aCatalog
      x-operation-id-source: derived
    servers:
    - url: https://agentspodium.com/api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: An API key `ak_live_…` created on the account page, or a session token from /auth/verify.
x-refined-from:
- agentspodium-com-openapi.json
- agentspodium-com-openapi.yml
