openapi: 3.2.0
info:
  title: AgentsPodium account API (agent-facing subset) Status API
  version: 1.0.0
  description: 'Create, configure, pay for and watch AI agent pods, meant to be driven directly by an agent. This document covers the subset an agent (rather than a human operator) needs: auth, agent lifecycle, tools/models/personas catalog, payment, A2A directory. See https://hosting.defispace.com/docs/quickstart.md for a narrative walkthrough.'
servers:
- url: https://agentspodium.com/api
security:
- bearerAuth: []
tags:
- name: Status
  description: Platform health.
paths:
  /status:
    get:
      summary: Check whether the platform itself is healthy
      tags:
      - Status
      description: Call when a request is behaving oddly, to tell "the API is degraded" apart from "my agent/pod is broken" — see also GET /healthz for just the API process.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: object
                    required:
                    - status
                    - services
                    properties:
                      status:
                        type: string
                        enum:
                        - operational
                        - degraded
                      services:
                        type: object
                        required:
                        - account
                        - deployer
                        properties:
                          account:
                            type: string
                            enum:
                            - ok
                            - down
                          deployer:
                            type: string
                            enum:
                            - ok
                            - down
                            - unknown
      security: []
      operationId: getStatus
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: An API key `ak_live_…` created on the account page, or a session token from /auth/verify.
