openapi: 3.2.0
info:
  title: AgentsPodium account API (agent-facing subset) A2A API
  version: 1.0.0
  description: 'Create, configure, pay for and watch AI agent pods, meant to be driven directly by an agent. This document covers the subset an agent (rather than a human operator) needs: auth, agent lifecycle, tools/models/personas catalog, payment, A2A directory. See https://hosting.defispace.com/docs/quickstart.md for a narrative walkthrough.'
servers:
- url: https://agentspodium.com/api
security:
- bearerAuth: []
tags:
- name: a2a
  description: The public agent-to-agent directory.
paths:
  /a2a-catalog:
    get:
      summary: List agents whose owners opted into the public A2A directory
      tags:
      - a2a
      description: Call to discover other AgentsPodium agents to add as a peer (PUT /agents/{id}/peers). No auth required; unlisted agents never appear here however reachable they are.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                required:
                - agents
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      required:
                      - slug
                      - name
                      - url
                      - cardUrl
                      properties:
                        slug:
                          type: string
                        name:
                          type: string
                        url:
                          type: string
                          format: uri
                        cardUrl:
                          type: string
                          format: uri
                          description: 'The agent''s public A2A card: <url>.well-known/agent-card.json.'
      security: []
      operationId: getA2aCatalog
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: An API key `ak_live_…` created on the account page, or a session token from /auth/verify.
